:root {
  --colorBaseClaro: #dfdedd;
  --colorBaseOscuro: #506059;
  --colorPrincipal: white;
  --colorSecundario: #a9ddd0;
  --colorTerciario: #757780;
  --colorContraste: rgb(54, 208, 199);
  --rosa: #e6b3b4;
}

main {
  background-color: #ecf0f1;
}
#hero {
  display: flex;
  flex-direction: column;
  background-image: url("img/imgMain/fondoPrincipal.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 48px;
  height: 92vh;
}

#mainTittle {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  margin-left: 3%;
  margin-top: 28%;
  color: var(--principal);
  font-weight: 800;
}
.contrasteTittle {
  font-family: "Montserrat", sans-serif;
  color: rgba(54, 208, 199);
}
@media screen and (max-width: 550px) {
  #hero {
    background-size: 100% auto;
    padding: 0px;
    height: auto;
    background-attachment: scroll;
  }
  #mainTittle {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 20%;
  }
  #creaCuenta {
    margin-bottom: 20px;
  }
}

/*Seccion imagenes Main*/
.carrousel {
  height: 80vh;
  margin: 50px 200px 50px 200px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
  overflow: hidden;
}
.puntos {
  width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 3;
  position: absolute;
  margin-top: -150px;
}
.punto {
  border-radius: 20px;
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  background-color: var(--colorSecundario);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.punto.activo {
  background-color: var(--colorPrincipal);
}
.contenedorIMG {
  width: 400%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.5s ease;
  transform: translateX(0%);
}
.imagenMain2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}

.imagenMain2 img {
  width: 100%;
  height: 100%;
}
.imagenMain2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 1.5%;
}
.imagenMain3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}
.imagenMainIzquierda,
.imagenMainDerecha {
  height: 100%;
  width: 100%;
}
.imagenMain4 img {
  width: 100%;
  height: 100%;
}
.imagenMain4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}
.imagenMain3 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 9%;
}
#text2Img3 {
  margin-left: 15%;
}
#text1Img3 {
  margin-left: 5%;
}
.imagenMain4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 4%;
  display: flex;
  text-align: center;
}
#text1Img5 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 10%;
  margin-left: -10%;
}
#text2Img5 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 2%;
  margin-left: 7%;
}
@media screen and (max-width: 550px) {
  .carrousel {
    display: none;
  }
  .puntos {
    display: none;
  }
}
/* Seccion tratamientos */
.centrarTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.titulo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 10px;
  border-radius: 2px;
  color: var(--colorBaseOscuro);
  font-weight: 800;
  margin-bottom: 40px;
  background-image: url("img/fondo1.jpg");
  border: 2px solid white;
  width: fit-content;
}
#heroTratamientos{
  overflow: hidden;
}
#contenedorTratamientos {
  display: flex;
  width: 300%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.5s ease;
  transform: translateX(0%);
}
#headerMedicamentos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 3);
}
#terapias {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 3);
  background-color: var(--colorBaseClaro);
}
#autoAyuda{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% / 3);
  background-color: var(--colorBaseClaro);
  gap: 50px;
}
#autoAyuda article{
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  height: 430px;
  box-shadow: 0 0 10px 10px rgba(247, 207, 208, 0.3);
  border: 2px solid white;
  &:hover {
    scale: 1.05;
  }
}
#seccionTratamientos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
  height: 100%;
}
#seccionTratamientos div {
  display: flex;
  flex-direction: column;
  background-image: url("img/Tarjeta1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 25px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 430px;
  box-shadow: 0 0 10px 10px rgba(247, 207, 208, 0.3);
  border: 2px solid white;
  &:hover {
    scale: 1.05;
  }
}
.imgTarjetaTratamientos {
  width: 300px;
  height: 200px;
  margin: 0px;
  border-radius: 12px;
  margin-top: -30px;
}
#seccionTratamientos div h1 {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 10px;
}
#seccionTratamientos div article {
  margin-top: 5px;
  font-size: 15px;
}
.linkTarjetaTerapia {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: -10px;
  background-color: var(--colorBaseOscuro);
  &:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  }
}
.linkTarjetaImg {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
@media screen and (max-width: 550px) {
  .titulo {
    font-size: 50px;
    background-color: var(--colorBaseClaro);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  #seccionTratamientos {
    gap: 10px;
  }
  #seccionTratamientos div {
    width: 300px;
    height: 200px;
  }
  #seccionTratamientos div img {
    width: 200px;
    height: 130px;
    margin: 0px;
    border-radius: 12px;
  }
  #seccionTratamientos div h1 {
    font-size: 24px;
    margin-left: -8px;
    margin-bottom: -8px;
  }
  #seccionTratamientos div article {
    display: none;
  }
}

/* Seccion Equipo */
#seccionEquipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}
#seccionEquipo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseOscuro);
  border: 2px solid;
  width: 230px;
  border-radius: 2px;
  border-color: var(--colorTerciario);
  padding: 9px;
  height: 200px;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
  }
}
#seccionEquipo div img {
  width: 170px;
  height: 120px;
  border-radius: 12px;
}
#seccionEquipo div h1 {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 8px;
  color: var(--colorBaseClaro);
  font-size: 20px;
}
#seccionEquipo div p {
  display: flex;
  color: var(--colorBaseClaro);
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 4px;
}
@media screen and (max-width: 550px) {
  #seccionEquipo {
    gap: 10px;
  }
  #seccionEquipo div p {
    display: none;
  }
  #seccionEquipo div {
    height: 180px;
  }
}

/* Seccion casos exito */
#seccionCasosExito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}
#seccionCasosExito div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/Tarjeta1.png");
  border-radius: 20px;
  padding: 9px;
  width: 250px;
  height: 360px;
  border: 2px solid white;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
  }
}
#seccionCasosExito div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0px black;
  margin-top: 5%;
}
#seccionCasosExito div h1 {
  background-color: var(--secundario);
  padding: 4px;
  border-radius: 8px;
  margin-top: 10px;
}
#seccionCasosExito div article {
  margin: 10px;
  background-color: var(--secundario);
}
@media screen and (max-width: 550px) {
  #seccionCasosExito {
    gap: 15px;
  }
  #seccionCasosExito div {
    padding: 9px;
    width: 300px;
    height: 400px;
    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease;
    }
  }
  #seccionCasosExito div img {
    width: 150px;
    height: 150px;
  }
  #seccionCasosExito div h1 {
    font-size: 30px;
  }
  #seccionCasosExito div article {
    margin: 10px;
    font-size: 20px;
  }
}

/*TRATAMIENTOS*/
#mainTratamientos{
}
#headerTratamientos {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 150px;
}
.linksTratamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  width: 300px;
  background-image: url("img/fondo1.jpg");
  border: 2px solid white;
  cursor: pointer;
}
.linksTratamientos a {
  text-decoration: none;
  color: black;
}
.linksTratamientos.selected {
  background-color: var(--colorBaseOscuro);
  color: white;
  background-image: none;
}
#headerMedicamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseClaro);
}
#medTittle {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  color: var(--colorBaseClaro);
  border-radius: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#headerMedicamentos span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  justify-content: center;
  margin-bottom: 65px;
}
.cajaMedicamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 12px;
  margin-top: 50px;
  background-color: var(--colorTerciario);
  width: 300px;
  height: 350px;
  padding: 20px;
  &:hover {
    box-shadow: 0 0 10px 5px black;
    transition: box-shadow 0.3s ease;
  }
}
.cajaMedicamento img {
  width: 150px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.cajaMedicamento h1 {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 10px;
  background-color: var(--colorSecundario);
  padding: 6px;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid var(--principal);
}
.cajaMedicamento p {
  background-color: var(--colorSecundario);
  padding: 6px;
  border-radius: 0px 8px 8px 8px;
  height: 100px;
}
@media screen and (max-width: 550px) {
  #headerTratamientos {
    gap: 20px;
  }
  .linksTratamientos {
    width: 100px;
    font-size: 12px;
  }
  #medTittle {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .cajaMedicamento {
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
  }
  .cajaMedicamento img {
    width: 75px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .cajaMedicamento h1 {
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 0px;
  }
  .cajaMedicamento p {
    display: none;
  }
}
/*Seccion terapias*/
#terapias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseClaro);
}

/*CONTACTO*/
#mainContacto {
  display: flex;
  justify-content: center;
}
#seccionFormContacto {
  display: flex;
  flex-direction: column;
  background-image: url("img/fondo1.jpg");
  width: 30%;
  background-size: cover;
  background-position: center;
  margin: 5%;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
#seccionFormContacto nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#seccionFormContacto nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  border-radius: 40px 40px 0px 0px;
  align-items: center;
}
#seccionFormContacto nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border: 2px solid white;
}
.primeraParte {
  border-radius: 30px 0px 0px 0px;
  background-color: var(--colorSecundario);
}
.segundaParte {
  background-color: var(--colorSecundario);
}
.terceraParte {
  border-radius: 0 30px 0 0;
  background-color: var(--colorSecundario);
}
.selected {
  background-color: rgb(159, 255, 159);
}
.hidden {
  display: none;
}

#seccionAboutContacto {
  display: flex;
  flex-direction: column;
  background-color: var(--colorBaseOscuro);
  width: 30%;
  background-size: cover;
  background-position: center;
  margin: 5%;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  color: var(--colorBaseClaro);
}
#seccionAboutContacto h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
#seccionAboutContacto section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 30px;
}
#seccionAboutContacto section div {
  width: 50%;
  display: flex;
  align-items: center;
}
#seccionAboutContacto section div img {
  width: 30px;
  filter: invert(1);
}

#seccionAboutContacto iframe {
  width: 60%;
  height: 60%;
  border-radius: 20px;
}

/*ACERCA DE*/
#headerAcercaDe {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 50px;
}
#imgPortadaAcercaDe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgPortadaAcercaDe img {
  width: 100%;
  height: 400px;
}
#imgPortadaAcercaDe h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: 7%;
  color: var(--colorBaseClaro);
  font-size: 100px;
}
#seccionNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seccionNosotros h1 {
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  font-size: 50px;
  border-radius: 2px;
  margin-top: 35px;
  color: var(--colorBaseClaro);
}

#seccionNosotros article {
  margin: 0 100px 50px 100px;
  padding: 50px;
  border-radius: 2px;
  margin-top: 30px;
  line-height: 40px;
  border-radius: 0px 28px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--colorBaseOscuro);
  background-color: var(--colorPrincipal);
}
#seccionNosotros img {
  width: 89.5%;
}
#titTestimonios {
  width: 100%;
  display: flex;
  justify-content: center;
}
#titTestimonios h1 {
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  border-radius: 2px;
  color: var(--colorBaseClaro);
  font-size: 50px;
  margin-bottom: -50px;
}
#testimoniosAcercaDe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 100px;
  justify-content: center;
}
#testimoniosAcercaDe div {
  background-color: var(--colorTerciario);
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#testimoniosAcercaDe h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
#testimoniosAcercaDe div img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.textoTarjetaTestimonios {
  display: flex;
  flex-direction: column;
  width: auto;
}
#titFAQs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -100px;
}
#titFAQs h1 {
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  border-radius: 2px;
  color: var(--colorBaseClaro);
  font-size: 50px;
}
#preguntasAcercaDe {
  display: flex;
}
#colIzquierda {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--colorBaseOscuro);
  width: 50%;
  align-items: end;
  margin-top: 100px;
}
#colDerecha {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.articulosIz {
  width: 700px;
  height: 150px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 20px;
  background-image: url("img/fondo2.jpg");
  margin-bottom: 150px;
}
.articulosDe {
  width: 700px;
  height: 150px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 150px;
  border-radius: 20px;
  background-image: url("img/fondo2.jpg");
}
.articulosIz:first-child {
  margin-top: 20px;
}
.articulosDe:first-child {
  margin-top: 170px;
}
.articulosIz h2 {
  margin-bottom: 15px;
}
.articulosDe h2 {
  margin-bottom: 15px;
}
#legal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#legal h1 {
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  border-radius: 2px;
  color: var(--colorBaseClaro);
  font-size: 50px;
}
#legal article {
  margin: 0 100px 50px 100px;
  padding: 50px;
  border-radius: 2px;
  border-radius: 0px 28px;
  line-height: 40px;
  margin-top: 30px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--colorBaseOscuro);
  background-color: var(--colorPrincipal);
}
#legal article p {
  margin-bottom: 50px;
}
#legal article p:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 550px) {
  #headerAcercaDe {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 30px;
  }
  #noDisponibleMovil {
    display: none;
  }
  #imgPortadaAcercaDe img {
    width: 100%;
    height: 200px;
  }
  #imgPortadaAcercaDe h1 {
    margin-top: 16%;
    font-size: 50px;
  }
  #seccionNosotros h1 {
    font-size: 30px;
    margin-top: 25px;
  }
  #seccionNosotros article {
    margin: 0 20px 10px 20px;
    padding: 30px;
    line-height: 30px;
  }
  #seccionNosotros img {
    width: 91%;
  }
  #titTestimonios {
    width: 100%;
  }
  #titTestimonios h1 {
    font-size: 30px;
    margin-bottom: -20px;
  }
  #testimoniosAcercaDe {
    gap: 30px;
    margin: 20px;
  }
  #testimoniosAcercaDe div {
    gap: 15px;
    border-radius: 10px;
    width: 100%;
  }
  #testimoniosAcercaDe h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #testimoniosAcercaDe aside {
    font-size: 15px;
  }
  #testimoniosAcercaDe div img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  #titFAQs {
    display: none;
  }
  #preguntasAcercaDe {
    display: none;
  }
  #legal h1 {
    font-size: 30px;
  }
  #legal article {
    margin: 0 20px 10px 20px;
    padding: 50px;
    border-radius: 2px;
    line-height: 30px;
    background-color: var(--colorPrincipal);
  }
  #legal article p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  #legal article p:last-child {
    margin-bottom: 0px;
  }
  .textoNoMovil {
    display: none;
  }
}

/*FORMCONTACTO*/
#mainFormContacto {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#mainFormContacto aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainFormContacto aside img {
  width: 100%;
}
#mainFormContacto aside h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: 7%;
  color: var(--colorBaseClaro);
  font-size: 100px;
}
#mainFormContacto div {
  display: flex;
  flex-direction: row;
}
#mainFormContacto div section {
  width: 50%;
}
#mainFormContacto div section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  background-image: url("img/fondo1.jpg");
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 0px 20px;
  border: 2px solid white;
}
#mainFormContacto input {
  width: 200px;
  height: 50px;
  padding: 8px;
  margin: 12px;
}
#aceptarFormContacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
}
#aceptarFormContacto input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#aceptarFormContacto a {
  text-decoration: none;
  color: var(--colorContraste);
}
#mainFormContacto input [type="submit"] {
  width: 300px;
  height: 100px;
}
#estiloFondoForm {
  display: flex;
  justify-content: center;
}
#estiloFondoForm a{
  text-decoration: none;
  display: flex;
  color: var(--colorContraste);
}
#estiloFondoForm textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  width: 300px;
  height: 50px;
  padding: 8px;
  margin: 12px;
  background-color: transparent;
  color: black;
}
#mainFormContacto button {
  border-radius: 2px;
  width: 300px;
  height: 50px;
  margin: 12px;
  outline: none;
  border: none;
  background-color: var(--colorBaseOscuro);
  color: var(--colorPrincipal);
  font-size: 30px;
  &:hover {
    background-color: var(--colorPrincipal);
    color: var(--colorBaseOscuro);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  cursor: pointer;
}
#textContacto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#textContacto aside {
  font-size: 30px;
  display: flex;
  font-style: italic;
  margin-top: 50px;
}
#textContacto div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--colorPrincipal);
  padding: 12px;
  border-radius: 12px 0 12px 0;
  border: 2px solid white;
}
#textContacto h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
#textContacto p {
  font-size: 20px;
  width: 600px;
  background-color: var(--colorPrincipal);
  padding: 12px;
  border-radius: 0 0 12px 12px;
}
@media screen and (max-width: 550px) {
  #mainFormContacto aside h1 {
    margin-top: 16%;
    font-size: 50px;
  }
  #mainFormContacto aside img {
    width: 100%;
    height: 200px;
  }
  #mainFormContacto div {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  #textContacto h2 {
    font-size: 30px;
  }
  #textContacto p {
    font-size: 20px;
    width: 300px;
  }
  #mainFormContacto div section {
    width: 100%;
  }
  #textContacto aside {
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
  }
  #estiloFondoForm {
    display: flex;
    justify-content: center;
  }
  #mainFormContacto input {
    width: 300px;
  }
  #estiloFondoForm form {
    padding: 20px;
    max-width: 350px;
  }
  #aceptarFormContacto {
    justify-content: center;
  }
}
/*PAGINA POLITICA PRIVACIDAD*/
#mainPoliPriv {
  display: flex;
  flex-direction: column;
}
#mainPoliPriv div {
  background-color: var(--colorTerciario);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 70px;
  color: var(--colorBaseClaro);
}
#mainPoliPriv section {
  margin: 100px 500px;
}
#mainPoliPriv h2 {
  color: var(--colorBaseOscuro);
  margin-bottom: 20px;
}
#mainPoliPriv p {
  margin-bottom: 18px;
}
@media screen and (max-width: 550px) {
  #mainPoliPriv div {
    height: 200px;
    font-size: 35px;
    padding: 30px;
  }
  #mainPoliPriv section {
    margin: 50px 30px;
  }
}

/*Tratamientos - Terapia especifica*/
#seccionHeroTerapias {
  padding: 50px 200px;
  background-color: rgb(206, 206, 206);
}
#seccionHeroTerapias h1 {
  background-color: var(--colorTerciario);
  padding: 12px;
  width: fit-content;
  border-radius: 2px;
}
#seccionHeroTerapias div {
  display: flex;
  flex-direction: row;
  gap: 200px;
}
#seccionHeroTerapias div img {
  width: 600px;
  height: 400px;
  border-radius: 30px;
}
#seccionHeroTerapias div ul {
  margin: 30px;
  line-height: 25px;
}
#seccionHeroTerapias div ul li {
  margin: 20px;
}
#cajaPrecio {
  width: 200px;
  gap: 0px;
  display: flex;
  align-items: center;
}
#cajaPrecio p {
  background-color: var(--colorSecundario);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 2);
  &:hover {
    scale: 1.05;
  }
}
#cajaPrecio span:first-child {
  text-decoration: line-through;
}
#cajaPrecio span:last-child {
  font-size: 30px;
}
#corazonVacio,
#corazonLleno {
  height: 50px;
  cursor: pointer;
  &:hover {
    scale: 1.2;
  }
}
#corazonLleno {
  display: none;
}
#seccionHeroTerapias article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#seccion2Terapias {
  display: flex;
  flex-direction: row;
}
#seccion2Terapias article {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seccion2Terapias article aside {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-bottom: 1px solid black;
}
.partes {
  background-color: var(--colorBaseOscuro);
  color: white;
  padding: 12px;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 2);
  &:hover {
    scale: 1.2;
  }
}
#seccion2Terapias p {
  margin: 20px 100px;
}
#seccion2Terapias video {
  margin: 50px;
  width: 640px;
  height: 360px;
  margin-left: 120px;
}
.parteVisualizando {
  background-color: var(--colorPrincipal);
  color: black;
}
@media screen and (max-width: 550px) {
  #seccionHeroTerapias {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #seccionHeroTerapias div img {
    display: none;
  }
  #seccionHeroTerapias div ul {
    margin: 20px;
    line-height: 20px;
    width: 80%;
  }
  #seccionHeroTerapias div ul li {
    margin: 20px;
  }
  #seccion2Terapias {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #seccion2Terapias article {
    width: 100%;
  }
  #seccion2Terapias article aside {
    gap: 10px;
  }
  .partes {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 80px;
  }
  #seccion2Terapias p {
    margin: 20px;
    width: 80%;
  }
  #seccion2Terapias video {
    margin: 20px;
    width: 80%;
    height: auto;
  }
  #cajaPrecio span:first-child {
    text-decoration: line-through;
    font-size: 15px;
  }
  #cajaPrecio span:last-child {
    font-size: 20px;
  }
  #corazonVacio,
  #corazonLleno {
    height: 30px;
  }
}

/*Pagina de servicios*/
.centrarTituloServicios {
  width: 100%;
  display: flex;
  justify-content: center;
}
.centrarTituloServicios h1 {
  color: white;
  background-color: var(--colorBaseOscuro);
  padding: 12px;
  font-size: 50px;
  border-radius: 2px;
}
#ayudasEconomicas {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 50px 100px;
}
#ayudasEconomicas section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorTerciario);
  padding: 12px;
  border-radius: 2px;
  height: 650px;
}
#ayudasEconomicas section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorSecundario);
  padding: 12px;
  border-radius: 2px;
  font-size: 30px;
}
#contenedorDescuentos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
#descuento1,
#descuento4,
#descuento5 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 30px;
}

#descuento2,
#descuento3,
#descuento6 {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-color: var(--principal);
  border-radius: 50%;
  font-size: 50px;
}
#contenedorAyudasBecas {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contenedorAyudasBecas p {
  margin-top: -20px;
  margin-bottom: -20px;
}
#contenedorAyudasBecas div {
  background-color: white;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  border-radius: 2px;
}
#seccionChat {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px 100px;
}
#visualizacionChat {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--colorBaseClaro);
  border-radius: 12px;
}
#visualizacionChat img {
  width: 50%;
  height: 300px;
  margin-top: 30px;
  border-radius: 50%;
}
#visualizacionChat h2 {
  background-color: var(--colorSecundario);
  padding: 12px;
  border-radius: 2px;
  margin-top: 20px;
}

#visualizacionChat article {
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#visualizacionChat article li {
  line-height: 3;
}
#chat {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-color: var(--colorBaseClaro);
  border-radius: 12px;
  padding: 10px 50px;
}
.recibir {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
.recibir span {
  background-color: var(--colorTerciario);
  padding: 10px;
  border-radius: 0px 8px 8px 8px;
  color: white;
}
.enviar {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 20px;
}
.enviar span {
  background-color: rgb(55, 92, 0);
  padding: 10px;
  border-radius: 8px 0px 8px 8px;
  color: white;
}
#formularioChat {
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
}

#mensaje {
  width: 80%;
  padding: 8px;
  border: 2px solid var(--colorBaseOscuro);
  background-color: white;
  border-radius: 16px;
}

#formularioChat button {
  width: 10%;
  height: 45px;
  margin-left: 8px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
}

#formularioChat button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 550px) {
  .centrarTituloServicios h1 {
    padding: 12px;
    font-size: 35px;
  }
  #ayudasEconomicas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 30px;
  }
  #ayudasEconomicas section {
    padding: 8px;
    height: fit-content;
  }
  #contenedorDescuentos {
    padding: 20px;
  }
  #descuento1,
  #descuento4,
  #descuento5 {
    width: 65%;
    height: 100px;
    font-size: 20px;
  }

  #descuento2,
  #descuento3,
  #descuento6 {
    width: 35%;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
  }
  #contenedorAyudasBecas {
    display: flex;
    padding: 20px;
  }
  #contenedorAyudasBecas p {
    margin-top: 0px;
  }
  #contenedorAyudasBecas div {
    width: 100%;
    height: 100px;
    margin-top: 30px;
  }
  #seccionChat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;
  }
  #visualizacionChat {
    width: 100%;
  }
  #visualizacionChat img {
    width: 50%;
    height: 150px;
    margin-top: 30px;
    border-radius: 50%;
  }
  #visualizacionChat article {
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #visualizacionChat article li {
    line-height: 3;
  }
  #chat {
    width: 100%;
    padding: 20px 30px;
  }
  #mensaje {
    width: 60%;
    padding: 8px;
    border: 2px solid var(--colorBaseOscuro);
    background-color: white;
    border-radius: 16px;
  }

  #formularioChat button {
    width: 30%;
    height: 30px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
}
