:root {
  --colorBaseClaro: #dfdedd;
  --colorBaseOscuro: #506059;
  --colorPrincipal: #f7cfd0;
  --colorSecundario: #a9ddd0;
  --colorTerciario: #757780;
}

main {
  background-color: #ecf0f1;
}
#hero {
  display: flex;
  flex-direction: column;
  background-image: url("img/imgMain/fondoPrincipal.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 48px;
  height: 92vh;
}

#mainTittle {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  margin-left: 3%;
  margin-top: 28%;
  color: var(--principal);
  font-weight: 800;
}
.contrasteTittle {
  font-family: "Montserrat", sans-serif;
  color: rgba(54, 208, 199);
}
@media screen and (max-width: 550px) {
  #hero {
    background-size: 100% auto;
    padding: 0px;
    height: auto;
    background-attachment: scroll;
  }
  #mainTittle {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 20%;
  }
  #creaCuenta {
    margin-bottom: 20px;
  }
}

/*Seccion imagenes Main*/
.carrousel {
  height: 80vh;
  margin: 50px 200px 50px 200px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
  overflow-x: hidden;
  overflow-y: hidden;
}
.puntos {
  width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 3;
  position: absolute;
  margin-top: -150px;
}
.punto {
  border-radius: 20px;
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  background-color: var(--colorSecundario);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.punto.activo {
  background-color: var(--colorPrincipal);
}
.contenedorIMG {
  width: 400%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.5s ease;
  transform: translateX(0%);
}
.imagenMain2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}

.imagenMain2 img {
  width: 100%;
  height: 100%;
}
.imagenMain2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 1.5%;
}
.imagenMain3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}
.imagenMainIzquierda,
.imagenMainDerecha {
  height: 100%;
  width: 100%;
}
.imagenMain4 img {
  width: 100%;
  height: 100%;
}
.imagenMain4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}
.imagenMain3 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 9%;
}
#text2Img3 {
  margin-left: 15%;
}
#text1Img3 {
  margin-left: 5%;
}
.imagenMain4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 4%;
  display: flex;
  text-align: center;
}
#text1Img5 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 10%;
  margin-left: -10%;
}
#text2Img5 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  position: absolute;
  margin-bottom: 2%;
  margin-left: 7%;
}
@media screen and (max-width: 550px) {
  .carrousel {
    display: none;
  }
  .puntos {
    display: none;
  }
}
/* Seccion tratamientos */
.centrarTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.titulo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 10px;
  border-radius: 2px;
  color: var(--colorBaseOscuro);
  font-weight: 800;
  margin-bottom: 40px;
  background-image: url("img/fondo1.jpg");
  border: 2px solid white;
  width: fit-content;
}
#seccionTratamientos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}
#seccionTratamientos div {
  display: flex;
  flex-direction: column;
  background-image: url("img/Tarjeta1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 25px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 380px;
  box-shadow: 0 0 10px 10px rgba(247, 207, 208, 0.3);
  border: 2px solid white;
  &:hover {
    scale: 1.05;
  }
}
#seccionTratamientos div img {
  width: 300px;
  height: 200px;
  margin: 0px;
  border-radius: 12px;
  margin-top: -30px;
}
#seccionTratamientos div h1 {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 10px;
}
#seccionTratamientos div article {
  margin-top: 5px;
  font-size: 15px;
}

@media screen and (max-width: 550px) {
  .titulo {
    font-size: 50px;
    background-color: var(--colorBaseClaro);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  #seccionTratamientos {
    gap: 10px;
  }
  #seccionTratamientos div {
    width: 300px;
    height: 200px;
  }
  #seccionTratamientos div img {
    width: 200px;
    height: 130px;
    margin: 0px;
    border-radius: 12px;
  }
  #seccionTratamientos div h1 {
    font-size: 24px;
    margin-left: -8px;
    margin-bottom: -8px;
  }
  #seccionTratamientos div article {
    display: none;
  }
}

/* Seccion Equipo */
#seccionEquipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}
#seccionEquipo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseOscuro);
  border: 2px solid;
  width: 230px;
  border-radius: 2px;
  border-color: var(--colorTerciario);
  padding: 9px;
  height: 200px;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
  }
}
#seccionEquipo div img {
  width: 170px;
  height: 120px;
  border-radius: 12px;
}
#seccionEquipo div h1 {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 8px;
  color: var(--colorBaseClaro);
  font-size: 20px;
}
#seccionEquipo div p {
  display: flex;
  color: var(--colorBaseClaro);
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 4px;
}
@media screen and (max-width: 550px) {
  #seccionEquipo {
    gap: 10px;
  }
  #seccionEquipo div p {
    display: none;
  }
  #seccionEquipo div {
    height: 180px;
  }
}

/* Seccion casos exito */
#seccionCasosExito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}
#seccionCasosExito div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/Tarjeta1.png");
  border-radius: 20px;
  padding: 9px;
  width: 250px;
  height: 360px;
  border: 2px solid white;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
  }
}
#seccionCasosExito div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0px black;
  margin-top: 5%;
}
#seccionCasosExito div h1 {
  background-color: var(--secundario);
  padding: 4px;
  border-radius: 8px;
  margin-top: 10px;
}
#seccionCasosExito div article {
  margin: 10px;
  background-color: var(--secundario);
}
@media screen and (max-width: 550px) {
  #seccionCasosExito {
    gap: 15px;
  }
  #seccionCasosExito div {
    padding: 9px;
    width: 300px;
    height: 400px;
    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease;
    }
  }
  #seccionCasosExito div img {
    width: 150px;
    height: 150px;
  }
  #seccionCasosExito div h1 {
    font-size: 30px;
  }
  #seccionCasosExito div article {
    margin: 10px;
    font-size: 20px;
  }
}

/*TRATAMIENTOS*/
#headerTratamientos {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 150px;
}
.linksTratamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  width: 300px;
  background-image: url("img/fondo1.jpg");
  border: 2px solid white;
}
.linksTratamientos a {
  text-decoration: none;
  color: black;
}
#headerMedicamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseClaro);
}
#medTittle {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  background-color: var(--colorBaseOscuro);
  padding: 8px;
  color: var(--colorBaseClaro);
  border-radius: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#headerMedicamentos span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  justify-content: center;
  margin-bottom: 65px;
}
.cajaMedicamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--principalVariante1);
  width: 300px;
  height: 350px;
  padding: 20px;
  &:hover {
    box-shadow: 0 0 10px 5px var(--colorContrasteClaro);
    transition: box-shadow 0.3s ease;
  }
}
.cajaMedicamento img {
  width: 150px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.cajaMedicamento h1 {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 10px;
  background-color: #236d6a;
  padding: 6px;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid var(--principal);
}
.cajaMedicamento p {
  color: var(--colorBaseClaro);
  background-color: #236d6a;
  padding: 6px;
  border-radius: 0px 8px 8px 8px;
}
@media screen and (max-width: 550px) {
  #headerTratamientos {
    gap: 20px;
  }
  .linksTratamientos {
    width: 100px;
    font-size: 12px;
  }
  #medTittle {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .cajaMedicamento {
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
  }
  .cajaMedicamento img {
    width: 75px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .cajaMedicamento h1 {
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 0px;
  }
  .cajaMedicamento p {
    display: none;
  }
}
/*Seccion terapias*/
#terapias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorBaseClaro);
}


/*CONTACTO*/
#mainContacto{
  display: flex;
  justify-content: center;
}
#seccionFormContacto{
  display: flex;
  flex-direction: column;
  background-image: url("img/fondo1.jpg");
  width: 30%;
  background-size: cover;
  background-position: center;
  margin: 5%;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
#seccionFormContacto nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#seccionFormContacto nav ul{
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  border-radius: 40px 40px 0px 0px;
  align-items: center;
}
#seccionFormContacto nav ul li{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border: 2px solid white;
}
.primeraParte{
  border-radius: 30px 0px 0px 0px;
  background-color: var(--colorSecundario);
}
.segundaParte{
  background-color: var(--colorSecundario);
}
.terceraParte{
  border-radius: 0 30px 0 0;
  background-color: var(--colorSecundario);
}
.selected{
  background-color: rgb(159, 255, 159);
}
#seccionAboutContacto{
  display: flex;
  flex-direction: column;
  background-color: var(--colorBaseOscuro);
  width: 30%;
  background-size: cover;
  background-position: center;
  margin: 5%;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  color: var(--colorBaseClaro);
}
#seccionAboutContacto h1{
  font-size: 40px;
  margin-bottom: 20px;
}
#seccionAboutContacto iframe{
  width: 60%;
  height: 60%;
  border-radius: 20px;
}