:root {
  --colorBaseOscuro: #4b4848;
  --colorBaseClaro: #dfdedd;
  --principal: #3fd2ca;
  --principalVariante1: #2eaaa4;
  --principalVariante2: #236d6a;
  --secundario: #a4bc9a;
  --secundarioVariante1: #596e50;
  --secundarioVariante2: #dbffcc;
  --colorContraste: #e67e22;
  --colorContrasteClaro: #f39c12;
  --colorContrasteOscuro: #d35400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}
#contenido {
  height: 100%;
}
header {
  background-color: var(--colorBaseOscuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 100px;
  margin-left: 100px;
}
#lupa {
  width: 20px;
}
#barraBusqueda {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  width: 250px;
  justify-content: space-between;
}
.nav {
  display: flex;
  margin-left: 20%;
  margin-right: 100px;
  flex-direction: row;
  gap: 12px;
  list-style: none;
}
.nav div {
  background-color: var(--colorBaseClaro);
  padding: 8px;
  border-radius: 18px;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 4px;
  border-radius: 8px;

  &:hover {
    background-color: var(--principalVariante1);
  }
}

.abrir-menu {
  display: none;
  margin-right: 25px;
}
.cerrar-menu {
  display: none;
}
#hamburguesa {
  width: 40px;
}
/*Parte del registro*/
.modal-Registro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 72, 72, 0.4);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  height: 100vh;
  width: 100%;
}
.show {
  pointer-events: auto;
  opacity: 1;
}
#closeRegistro {
  display: flex;
  justify-content: end;
}
#closeRegistro img {
  width: 35px;
}
.modalRegistro {
  background-color: var(--colorBaseClaro);
  max-width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.modalRegistro section {
  display: flex;
  flex-direction: row;
}
.modalRegistro section article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalRegistro section img {
  width: 400px;
}
.modalRegistro section p {
  display: flex;
  justify-content: center;
}
#registroRedes {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#registroRedes img {
  width: 40px;
}
#imgModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#centrarForm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalRegistro h1 {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
}

/*Registro formulario*/
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
}

input {
  border-radius: 16px;
  width: 200px;
  height: 50px;
  padding: 8px;
  margin: 12px;
}
#checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="submit"] {
  background-color: var(--colorContrasteClaro);
  font-size: 25px;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--colorContraste);
}
#link-A-LogIn {
  text-decoration: underline;
  color: var(--colorContraste);
}
@media screen and (max-width: 550px) {
#closeRegistro img {
  width: 20px;
  margin-top: -10px;
  margin-right: -10px;

}
  .modalRegistro h1 {
    font-size: 25px;
  }
  .modalRegistro section img {
    width: 100px;
  }
  #imgModal{
    display: none;
  }
#registroRedes {
  gap: 20px;
}
  form {
    max-width: 250px;
  }
  input {
    border-radius: 12px;
    width: 100px;
    height: 30px;
    padding: 8px;
    margin: 8px;
  }
  #checkBox p {
    font-size: 10px;
  }
  input[type="submit"] {
    font-size: 12px;
  }
  .modalRegistro section p {
    font-size: 12px;
  }
  ::placeholder {
    font-size: 10px;
  }
}
/*Parte del logIn*/
.modal-LogIn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 72, 72, 0.4);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  height: 100vh;
  width: 100%;
}
.show {
  pointer-events: auto;
  opacity: 1;
}
#closeLogIn {
  display: flex;
  justify-content: end;
}
#closeLogIn img {
  width: 35px;
}
.modalLogIn {
  background-color: var(--colorBaseClaro);
  max-width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.modalLogIn section {
  display: flex;
  flex-direction: row;
}
.modalLogIn section article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalLogIn section img {
  width: 400px;
}
.modalLogIn h1 {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
}
#centrarForm2{
  display: flex;
  justify-content: center;
  align-items: center;
}
#centrarForm2 form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-right: 20px;
}
#centrarForm2 input {
  border-radius: 16px;
  width: 100%;
  height: 50px;
  padding: 8px;
  margin: 12px;
}
#link-A-Registro {
  text-decoration: underline;
  color: var(--colorContraste);
}
/* PARTE DEL FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 16px;
  gap: 10px;
  background-color: var(--colorBaseOscuro);
}
footer section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#socialMedia {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#socialMedia img {
  width: 50px;
}
@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hamburguesa {
    display: block;
  }
  #barraBusqueda {
    width: 200px;
  }
  #logo {
    margin-left: 10px;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    margin-right: 0px;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: var(--colorBaseOscuro);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  .nav-list li a {
    color: white;
    padding: 4px;
    border-radius: 8px;

    &:hover {
      background-color: var(--principalVariante1);
    }
  }

  /* PARTE DEL FOOTER */
  footer {
    display: grid;
    grid-column: 1;
  }
  footer section h1 {
    font-size: 20px;
  }

  #socialMedia img {
    width: 30px;
  }
}
